$icon-audio: "\e600";
$icon-bullet: "\e601";
$icon-camera: "\e602";
$icon-database: "\e603";
$icon-external: "\e604";
$icon-arrow-up-left: "\e605";
$icon-sort_1_9: "\e606";
$icon-sort_9_1: "\e607";
$icon-sort_a_z: "\e608";
$icon-sort_little_much: "\e609";
$icon-sort_much_little: "\e60a";
$icon-sort_sortable: "\e60b";
$icon-sort_z_a: "\e60c";
$icon-square_empty: "\e60d";
$icon-square_full: "\e60e";
$icon-tree: "\e60f";
$icon-arrow-back: "\e610";
$icon-media-back: "\e611";
$icon-media-playback-pause: "\e612";
$icon-media-playback-start: "\e613";
$icon-media-seek-backward: "\e614";
$icon-media-seek-forward: "\e615";
$icon-media-skip-back: "\e616";
$icon-media-skip-backward: "\e617";
$icon-media-skip-forward: "\e618";
$icon-media-skip-next: "\e619";
$icon-refresh: "\e61a";
$icon-arrow-down-lean: "\e61b";
$icon-arrow-down: "\e61c";
$icon-arrow-left-lean: "\e61d";
$icon-arrow-next: "\e61e";
$icon-arrow-right-lean: "\e61f";
$icon-arrow-right: "\e620";
$icon-arrow-up-lean: "\e621";
$icon-arrow-up: "\e622";
$icon-checkmark: "\e623";
$icon-decision-path: "\e624";
$icon-generate: "\e625";
$icon-triangle-down-right: "\e626";
$icon-arrow-left: "\e627";
$icon-double-chevron-down: "\e628";
$icon-double-chevron-right: "\e629";
$icon-double-chevron-up: "\e62a";
$icon-pinch: "\e62b";
$icon-triangle-down: "\e62c";
$icon-triangle-left: "\e62d";
$icon-triangle-right: "\e62e";
$icon-triangle-up: "\e62f";
$icon-bars: "\e630";
$icon-chevron-down: "\e631";
$icon-chevron-left: "\e632";
$icon-chevron-right: "\e633";
$icon-chevron-up: "\e634";
$icon-cross: "\e635";
$icon-double-chevron-left: "\e636";
$icon-download: "\e637";
$icon-help: "\e638";
$icon-home: "\e639";
$icon-location: "\e63a";
$icon-naturalis: "\e63b";
$icon-search: "\e63c";
